apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: linkding
  name: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      securityContext:
        runAsUser: 33
        runAsGroup: 33
        fsGroup: 33
      containers:
        - image: sissbruecker/linkding:1.43.0
          name: linkding
          volumeMounts:
            - mountPath: /etc/linkding/data
              name: linkding-volume
          ports:
            - containerPort: 9090
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
      volumes:
        - name: linkding-volume
          persistentVolumeClaim:
            claimName: linkding-data-pvc
