apiVersion: v1
kind: Service
metadata:
  name: ghost-service
spec:
  ports:
  - port: 2368
    protocol: TCP
    targetPort: 2368
  type: ClusterIP
  selector:
    app: ghost

---
apiVersion: v1
kind: Service
metadata:
  name: mysql-service
spec:
  ports:
  - port: 3306
    protocol: TCP
    targetPort: 3306
  type: ClusterIP
  clusterIP: None
  selector:
    app: mysql

