apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: linkding
  name: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      containers:
      - image: sissbruecker/linkding
        name: linkding
        volumeMounts:
          - mountPath: /app/data
            name: linkding-volume
        ports:
        - containerPort: 9090
      volumes:
        - name: linkding-volume
          persistentVolumeClaim:
            claimName: linkding-data-pvc
