apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mealie
  name: mealie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      labels:
        app: mealie
    spec:
      securityContext:
        runAsUser: 911
        runAsGroup: 911
        fsGroup: 911
        runAsNonRoot: true
      containers:
        - image: ghcr.io/mealie-recipes/mealie:v3.5.0
          name: mealie
          ports:
            - containerPort: 9000
          volumeMounts:
            - mountPath: /app/data
              name: mealie-data
          securityContext:
            capabilities:
              drop: ["ALL"]
            allowPrivilegeEscalation: false
      volumes:
        - name: mealie-data
          persistentVolumeClaim:
            claimName: mealie-data
